/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn { display: inline-block; vertical-align: middle; text-align: center; cursor: pointer;
	-webkit-appearance: none;
	   -moz-appearance: none;
	 		appearance: none;
}


/*  Button Block  */
.btn-block { display: block; padding-left: 0; padding-right: 0; }

.btn-red { font-size: 24px; font-weight: 700; text-transform: uppercase; background-color: #f2594f; padding: 9px 45px; border-radius: 25px; transition: background-color .5s;  }
.btn-red:hover  { background-color: #dd3525;  }

.btn-red-secondary { text-transform: none; color: #fff; border-radius: 3px; font-family: 'Roboto', sans-serif; font-size: 20px;  }

.btn-green { background-color: #9acd32; border-radius: 28px; font-size: 18px; font-family: 'Open Sans', sans-serif; padding: 15px 30px; transition: background-color .5s; text-transform: uppercase;  }
.btn-green:hover  { background-color: #32cd32;  }
